<footer>
    <div class="footer-box">
        <div class="foot-simbox">
            <div class="foot-title">关于我们</div>
            <div class="foot-contentbox">
                我们是一群热爱WEB的IT青年，从对WEB的刚开始的一无所知到现在的游刃有余我们付出了太多的努力，
                但也收获了很多。我们将通过WESUN这个平台，将我们的学习过程分享给大家！ 赶快加入我们吧！
            </div>
        </div>
        <div class="foot-simbox">
            <div class="foot-title">友情链接</div>
            <div class="foot-contentbox friend-links">
                <ul>
                    <li>W3school</li>
                    <li>传智播客</li>
                    <li>后盾网</li>
                    <li>瓢城WEB俱乐部</li>
                    <li>Bootstrap中文网</li>
                </ul>
            </div>
        </div>
        <div class="foot-simbox">
            <div class="foot-title">加入我们</div>
            <div class="foot-contentbox">
                <img src="__PUBLIC__/images/Base/qrcode.png" alt="" class="autoimg" style="display: block; max-width: 120px">
            </div>
        </div>
        <div class="foot-copyright">Copyright © 2016 Oven Liu. All rights reserved. </div>
    </div>

</footer>