<volist name="data" id="vo">
    <div style="width: 100%; background: #F5F5F5; margin: 10px ;border:1px solid red;">
        <p>ID：{$vo.id}</p>
            <p>art_title：{$vo.art_title}</p>
        <p>art_introduce：{$vo.art_introduce}</p>
        <p>预览图：<img src="{$vo.art_preimg}" alt=""/></p>
        <p>art_content：{$vo.art_content|htmlspecialchars_decode}</p>
        <p>art_mark：{$vo.art_mark}</p>
        <p>art_author：{$vo.art_author}</p>
        <p>art_addtime：{$vo.art_addtime}</p>
        <p>ID：{$vo.id}</p>
    </div>

    [id] => 32
    [art_title] => 111
    [art_introduce] => 111
    [art_type] => sss
    [art_preimg] => /wesun/upload/images/preimg/2015-11-19/1447863194_1568618922.jpg
    [art_content] => &lt;p&gt;111111111111&lt;/p&gt;
    [art_mark] => ,JS,CSS3
    [art_author] => wenwen
    [art_addtime] => 2015-11-20 00:06:37
    [art_readcount] => 0
    [art_commentcount] => 0
    [art_status] => 1
    [art_ip] => ::1

</volist>