<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/css/reset.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/Admin/admin.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>

</head>