<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,target-densitydpi=high-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>{$demo.dem_title}</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="__PUBLIC__/css/swiper.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/Demo/demo_show.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/Public/public.css"/>
    <script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/swiper.min.js"></script>

    <style>

    </style>
</head>
<body class="container-fluid">

<include file="Public/menu" />

<div class="row" >
    <div class=" col-xs-12 col-sm-8 col-md-7 col-md-offset-1 i_mainbox" >
        <div class="top_imgbox">
            <img src="{$demo.dem_preimg}" class="full"/>
        </div>
        <div style="" class="demo_ctrbox">
            <a href="{:U('Demo/demo_preview',array('dem_id'=>$demo['dem_id']),'')}"><span>案例演示</span></a>
            <a href="{:U('Demo/demo_down',array('dem_id'=>$demo['dem_id']),'')}"><span>案例下载</span></a>
        </div>
        <hr/>
        <div class="demo_intr_box">
            <div class="demo_intr_title">
                第一步：简介
            </div>
            <div class="demo_intr_content">
                中新网联合国9月27日电 (记者 张朔)中国国家主席习近平27日在纽约联合国总部出席并主持全球妇女蜂会。
                习近平在开幕式上发表题为《促进妇女全面发展 共建共享美好世界》的重要讲话，就促进全球妇女事业、
                加强国际合作阐述中国主张。
            </div>
        </div>

        <div class="demo_intr_box">
            <div class="demo_intr_title">
                第二步：环境配置
            </div>
            <div class="demo_intr_content">
                中新网联合国9月27日电 (记者 张朔)中国国家主席习近平27日在纽约联合国总部出席并主持全球妇女蜂会。
                习近平在开幕式上发表题为《促进妇女全面发展 共建共享美好世界》的重要讲话，就促进全球妇女事业、
                加强国际合作阐述中国主张。
            </div>
        </div>

        <div class="demo_intr_box">
            <div class="demo_intr_title">
                第三步：
            </div>
            <div class="demo_intr_content">
                中新网联合国9月27日电 (记者 张朔)中国国家主席习近平27日在纽约联合国总部出席并主持全球妇女蜂会。
                习近平在开幕式上发表题为《促进妇女全面发展 共建共享美好世界》的重要讲话，就促进全球妇女事业、
                加强国际合作阐述中国主张。
            </div>
        </div>

        <div class="demo_intr_box">
            <div class="demo_intr_title">
                第四步：
            </div>
            <div class="demo_intr_content">
                中新网联合国9月27日电 (记者 张朔)中国国家主席习近平27日在纽约联合国总部出席并主持全球妇女蜂会。
                习近平在开幕式上发表题为《促进妇女全面发展 共建共享美好世界》的重要讲话，就促进全球妇女事业、
                加强国际合作阐述中国主张。
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-2 ">
        <div class="i_sidebox">

        </div>
    </div>
</div>
<include file="Public/footer" />
<script>

</script>
</body>
</html>