*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background: #e5e5e5;
    font-family: "微软雅黑", Arial, sans-serif, Tahoma, "Trebuchet MS", "宋体" ;
}
.autoimg{
    width: 100%;
    height: auto;
}
.fullimg{
    height:100%;
    width:100%;
}
.bannerbox{
    max-height: 700px;
    width: 100%;
}
.sidebox{
    width: 20%;
    min-height:10px;
    float: left;
    clear: right;
    box-sizing: border-box;
    padding: 15px;

}
.contentbox{
    min-height:10px;
    width: 100%;
    max-width: 1280px;
    min-width: 300px;
    margin: 20px  auto;
    overflow: hidden;
}

@media (max-width: 767px){
    header{
        height:40px !important;
    }
    .logo-box{
        font-size: 16px !important;
        line-height:40px !important;
    }
    .menu-bar{
        display: inline-block !important;
        position: absolute;
        top: 0px;
        right: 10px;
    }
    /*.sidebox{display: none;  }*/
    .top-menu{
        height:auto !important;
        width: 150px;
        background: rgba(0,0,0,0.6);
        position: absolute;
        top:45px;
        right:10px;
        box-sizing: border-box;
        padding: 0 !important;
        z-index:100;
        display: none;

    }
    .menu-list-box{
        margin-left: 0 !important;
    }
    .menu-list-box ul{
        padding: 0 !important;
    }
    .menu-list-box li{
        line-height:30px !important;
        height:30px !important;
        /*background: #cccccc;*/
        display: block;
        width: 150px;
        margin: 0 0 10px 0;
        text-align: center;
        box-sizing: border-box;
        font-size: 16px !important;
    }
    .menu-list-box ul li:hover{
        color: #00a0e9;
        font-size: 20px !important;
    }
    .search-box{
        height:80px !important;
        line-height: 40px !important;
        text-align: center !important;
        padding: 0px !important;
        display: block;
        width: 100%;
    }
    .search-input{
        display: block !important;
        width: 130px !important;
        margin-left:10px  ;
        opacity: 1 !important;
    }
    .search-input::-webkit-input-placeholder { /* WebKit browsers */
        color:    rgba(255,255,255,0.7);

    }
    .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    rgba(255,255,255,0.7);
    }
    .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    rgba(255,255,255,0.7);
    }
    .search-input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    rgba(255,255,255,0.7);
    }

    .sidebox{display: none;  }
    .article-listbox{width: 100%;  }
    .foot-simbox{ width: 45% !important; margin: 2.5%;}
    .foot-simbox:nth-child(2){  display: none;}

}
@media screen and (min-width: 768px) and (max-width: 959px){
    .foot-simbox{ width: 45% !important; margin: 2.5%;}
    .foot-simbox:nth-child(2){  display: none;}
    .top-menu{  display: block !important;}
    .search-input{
        display: inline-block !important;
    }
    .sidebox{display: none;  }
}
@media screen and (min-width: 960px) and (max-width: 1199px){
    .article-listbox{width: 100%;}
    .top-menu{  display: block !important;}
    .search-input{
        display: inline-block !important;
    }
    .sidebox{display: block;  }

}
@media screen and (min-width:1200px){
    .top-menu{  display: block !important;}
    .search-input{
        display: inline-block !important;
    }
    .sidebox{display: block;  }

}

/*顶部样式*/
header{
    height:80px;
    width: 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    border-bottom: 1px solid rgba(255,255,255,.3);
    z-index:1000;
    /*box-shadow: 0px 1px 12px -5px rgba(255,255,255,0.6);*/
}
.top-menubox{
    height:100%;
    width: 100%;
    max-width: 1280px;
    min-width: 300px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 15px;
}
.menubox{
    height:100%;
    width: 100%;
    text-align: left;
}
.logo-box{
    font-family: Arial, "Times New Roman", "Bitstream Charter", Times, serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    line-height:80px;
    height:100%;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.top-menu{
    height:80px;

}
.menu-bar{
    height:40px;
    width: 40px;
    display: none;
    float: right;
    clear: both;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}
.menu-bar i{
    vertical-align: middle;
}
.menu-list-box{
    display: inline-block;
    height:100%;
    line-height: 80px;
    vertical-align: middle;
    margin-left: 20px ;
}
.menu-list-box ul{
    display: block;
    height:100%;

}
.menu-list-box ul li{
    list-style:none;
    float: left;
    margin-left: 0px ;
    display: block;
    padding: 0 20px ;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.menu-list-box ul li:hover{
    color: #00a0e9;
    font-size: 1.3em;
}
.search-box{
    display: inline-block;
    height:100%;
    float: right;
    line-height:80px;
    padding: 0 20px ;
    color: #FFFFFF;
}
.search-input{
    background: transparent;
    border: 1px solid #FFFFFF;
    height:30px;
    width: 0;
    display: none;
    color: #ffffff;
    padding: 0 5px ;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
}
.search-btn{
    cursor: pointer;
}
.search-btn:hover{
    color: #00a0d2;
}
.login-btn{
    margin-left: 20px ;
    cursor: pointer;
}
.login-btn:hover{
    color: #00a0d2;
}

/*底部样式*/
footer{
    height:300px;
    background-color: #2a2c39;
    width: 100%;
    position: relative;
}


.footer-box{
    height:100%;
    width: 100%;
    max-width: 1280px;
    min-width: 300px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 15px;
}
.foot-simbox{
    position: relative;
    top:20%;
    height:65%;
    width: 30%;

    float: left;
    margin: 0 1.53%;
}
.foot-title{
    height:30px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight:400;
    color: #cccccc;
    line-height:30px;
    display: block;
}
.foot-contentbox{
    margin-top: 20px;
    width: 100%;
    min-height:110px;
    text-indent: 2em;
    line-height:24px;
    padding: 0 20px;
    box-sizing: border-box;
    border-left: 1px solid rgba(82,82,82,0.6);
    color: #888;
    font-size: 14px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.friend-links ul{
    display: block;
    height:100%;
    width: 100%;
}
.friend-links ul li{
    list-style: none;
    height:100%;
    width: 100%;
}
.foot-copyright{
    position: absolute;
    bottom: 0;
    left: 0;
    height:30px;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 12px;
}


/*分页样式*/
.i_page{
    width: 100%;
    height: 30px;
    text-align: center;
    color: #5D5D5D;
}
.i_page a{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin:  0 2px;
    border: 1px solid #cccccc;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}
.i_page .current{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin:  0 2px;
    border: 1px solid #cccccc;
    background: #cccccc;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}